/* Assuming you put the font files in public/fonts */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato'), local('Lato-Regular'),
    url('/fonts/Lato-Regular.ttf') format('truetype');
  /* Update for TTF */
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'),
    url('/fonts/Lato-Bold.ttf') format('truetype');
  /* Update for TTF */
}

/* Include @font-face rules for any other weights and styles you have */